{
    "discord": {
        "discordWebhookUrl": "YOUR_DISCORD_WEBHOOK_URL",
        "discordBotToken": "YOUR_DISCORD_BOT_TOKEN"
    },
    "bybit": {
        "apiKey": "YOUR_BYBIT_API_KEY",
        "secret": "YOUR_BYBIT_SECRET_KEY"
    },
    "hyperliquid": {}
}
