{
    "discord": {
        "discordWebhookUrl": "YOUR_DISCORD_WEBHOOK_URL",
        "discordBotToken": "YOUR_DISCORD_BOT_TOKEN"
    },
    "bybit": {
        "apiKey": "YOUR_BYBIT_API_KEY",
        "secret": "YOUR_BYBIT_SECRET_KEY"
    },
    "hyperliquid": {
        "mainWalletAddress": "YOUR_HYPERLIQUID_MAIN_WALLET_ADDRESS",
        "apiWalletAddress": "YOUR_HYPERLIQUID_API_WALLET_ADDRESS",
        "privatekey": "YOUR_HYPERLIQUID_PRIVATE_KEY"
    }
}
