{
    "settings": {
        "timeframes": [
            {
                "timeframe": "4h",
                "amountBuyUSDT": 10.0,
                "consecutivePositiveCount": 3
            },
            {
                "timeframe": "1d",
                "amountBuyUSDT": 20.0,
                "consecutivePositiveCount": 3
            }
        ],
        "perpetual": {
            "leverage": 20,
            "take_profit_rate": 0.1,
            "stop_loss_rate": 0.1,
            "amountByUSDC": 10.0
        }
    }
}
