{
    "discord": {
        "discordWebhookUrlPerpetual": "YOUR_TESTNET_PERPETUAL_WEBHOOK_URL"
    },
    "hyperliquid": {
        "network": "testnet",
        "mainWalletAddress": "YOUR_TESTNET_MAIN_WALLET_ADDRESS",
        "apiWalletAddress": "YOUR_TESTNET_API_WALLET_ADDRESS",
        "privatekey": "YOUR_TESTNET_API_PRIVATE_KEY"
    }
}
