{
    "discord": {
        "discordWebhookUrlPerpetual": "YOUR_MAINNET_PERPETUAL_WEBHOOK_URL"
    },
    "hyperliquid": {
        "network": "mainnet",
        "mainWalletAddress": "YOUR_MAINNET_MAIN_WALLET_ADDRESS",
        "apiWalletAddress": "YOUR_MAINNET_API_WALLET_ADDRESS",
        "privatekey": "YOUR_MAINNET_API_PRIVATE_KEY"
    }
}
